*.pem
*.pt
.DS_Store
.cache
.env
.env*.local
.next/
.nitro/
.output/
.pnp
.pnp.js
.turbo
.vercel
__pycache__
build
bun.lock
coverage
dist/
next-env.d.ts
node_modules
out/
.github/instructions/
.cursor/